.box {
    background-color: rgb(245, 245, 245); /* Custom color code */
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: black; 
    box-shadow: 0px 0px 10px rgb(233, 233, 233);

}

.matchaHeader {
    background-color: rgb(144, 175, 131);
    padding: 20px;
    color: #fff; 
}
