.profileContainer {
    width: 80%;
    height: 100%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 245, 245);
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 10px rgb(233, 233, 233);
    padding: 30px;
    display: flex;
    align-items: flex-start;
    overflow: auto;
}

.editButton a {
    height: 30px;
    width: 120px;
    background-color: rgb(144, 175, 131);
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.editButton a:hover {
    background-color: rgb(203, 201, 201);
    text-decoration: none;
    color:white
}

.photoButton {
    height: 30px;
    width: 120px;
    background-color: rgb(144, 175, 131);
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}

.sendButton {
    height: 25px;
    width: 100px;
    background-color: rgb(144, 175, 131);
    border: none;
    border-radius: 10px;
    color: white;
}

.photoButton:hover, .sendButton:hover {
    background-color: rgb(203, 201, 201);
}


.box {
    background-color: rgb(245, 245, 245); /* Custom color code */
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: black; 
    box-shadow: 0px 0px 10px rgb(233, 233, 233);

}

.matchaHeader {
    background-color: rgb(144, 175, 131);
    padding: 20px;
    color: #fff; 
}
  
.infoContainer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.info {
    flex-grow: 1;
    order: 0;
    margin-top: 40px;
    margin-left: -50px;
    margin-right: 10px;
}

.infoImage {
    order: 1;
    margin-top: 5px;
}

.image-form-control {
    margin-top: 5px;
}

.send-form-control {
    margin-left: 5px;
    margin-bottom: 5px;
}